.editor-container {
  max-width: 40rem;
  padding: 1rem;
  margin: 0 auto;
  div {
    text-align: right;
    padding: 5px;
    cursor: pointer;
    
  }
}
#preview {
  padding: 2rem;
  margin-top: 1rem;
}
